<!DOCTYPE html>
<html>
    <head>
        <title>Amber's Blog</title>
    </head>
    <body>
        <h1>Welcome to my Blog</h1>
        
        <p>
            <ul>
                <p>Here are the posts:</p>
                    {% for post in oldposts %}
                    <li>{{ post['post'] }}</li>
                    {% endfor %}

                    {% for blog in blogposts %}
                    <li>{{ blog['blogpost'] }}</li>
                    {% endfor %}
                    
                
                <p>Click here to login</p>
                    <form action= "/login" method = "POST">
                    <label for="submit">Login</label>
                    <input type="submit" value="submit">
                </form>
            </ul>
        </p>
    </body>