<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Welcome to the dashboard</h1>
        <p>Here are a list of your posts:</p>
        <p>
            <ul>
                {% for blog in blogposts %}
                <li>{{ blog }}
                </form>
                <p>Click here to edit your post</p>
                <form action= "/editblog" method = "POST">
                    <label for="submit">Edit message</label>
                    <input type="submit" value="submit">
                </form>
                <p>Click here to delete your post</p>
                <form action= "/dashboard" method = "POST">
                    <label for="submit">Delete message</label>
                    <input type="submit" value="submit">
                </form>
                </li>
                {% endfor %}

            </ul>
            <form action= "/dashboard" method = "POST">
                <label id= 'blogpost' for="blogpost">Please type a post:</label>
                <input type="text" id="blogpost" name="blogpost"><br><br>

                <label for="submit">Post message</label>
                <input type="submit" value="submit">
        </p>
    </body>