<!DOCTYPE html>
<html>
    <head>
        <title>Edit Blog Post</title>
    </head>
    <body>
        <h1>Edit your post:</h1>
        
        <p>
            <ul>
                <p>Please make your edits:</p>
                <p>
                    <form action= "editblog" method = "POST">
                        <label for="edits">Login</label>
                        <input type="text" value="edits">
                        <label for="submit">Login</label>
                        <input type="submit" value="submit">
                        
                    </form>
                    
                    
                </p>
                
            </ul>
        </p>
    </body>